<!doctype html>
<html>
	<head>
		<title>First App</title>
		<link rel = 'stylesheet' href = "{{ url_for('static', filename = 'style.css') }}">
	</head>
	<body>
		<div>
			Hello {{name}}
		</div>
	</body>
</html>