<!doctype html>
<html>
	<head>
		<title>Movie Review Classification</title>
		<link rel = 'stylesheet' href = "{{ url_for('static', filename = 'style.css') }}">
	</head>
	<body>
		<h3>Thankyou for the feedback!</h3>
		<div id='button'>
			<form action='/'>
				<input type = submit value = 'Submit another review'>
			</form>
		</div>
	</body>
</html>